<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx 
                           https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager"/>



<!-- Explicitly define the beans if you don't want to rely on annotation scanning -->
    <bean id="studentDAO" class="com.studentcourse.StudentDAO"/>
    <bean id="courseDAO" class="com.studentcourse.CourseDAO"/>



    <!-- Enable component scanning to detect annotated beans -->
    <context:component-scan base-package="com.studentcourse"/>

    <!-- DataSource Bean -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/student_course_db"/>
        <property name="username" value="root"/>
        <property name="password" value="Root123$"/>
    </bean>

    <!-- SessionFactory Bean -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.studentcourse"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction Manager Bean -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
